@page "/admin/index"
@inherits SafePathComponentBase

@using Microsoft.AspNetCore.Authorization
@using SafePath.Blazor.Components
@using Volo.Abp.MultiTenancy
@inject IJSRuntime JSRuntime

<LoadingOverlay Show="ShowLoading" />

<link href="/maplibre/maplibre-gl-3.6.2.css" rel="stylesheet" />

<!-- Title -->
<div class="container text-center">
    <h1>@SelectedArea?.DisplayName Dashboard</h1>
</div>

<!-- Map -->
<div class="container-fluid row">

    <!-- Map display -->
    <div id="map" class="col-10" style="max-height: 600px"></div>

    <!-- Vertical Button Bar -->
    <div class="btn-list col-2 ps-3">
        <button @onclick='() => ToggleLayer("StreetLamp")' id="btn-StreetLamp" class="btn btn-primary mb-2">
            <i class="fas fa-lightbulb"></i>&nbsp;|&nbsp;&nbsp;Street Lamp
        </button>
        <button @onclick='() => ToggleLayer("CCTV")' id="btn-CCTV" class="btn btn-primary mb-2">
            <i class="fas fa-video"></i>&nbsp;|&nbsp;&nbsp;CCTV
        </button>
        <button @onclick='() => ToggleLayer("BusStation")' id="btn-BusStation" class="btn btn-primary mb-2">
            <i class="fas fa-bus"></i>&nbsp;|&nbsp;&nbsp;Bus Station
        </button>
        <button @onclick='() => ToggleLayer("RailwayStation")' id="btn-RailwayStation" class="btn btn-primary mb-2">
            <i class="fas fa-train"></i>&nbsp;|&nbsp;&nbsp;Railway
        </button>
        <button @onclick='() => ToggleLayer("PoliceStation")' id="btn-PoliceStation" class="btn btn-primary mb-2">
            <i class="fas fa-shield-alt"></i>&nbsp;|&nbsp;&nbsp;Police Station
        </button>
        <button @onclick='() => ToggleLayer("Hospital")' id="btn-Hospital" class="btn btn-primary mb-2">
            <i class="fas fa-hospital"></i>&nbsp;|&nbsp;&nbsp;Hospital
        </button>
        <button @onclick='() => ToggleLayer("Semaphore")' id="btn-Semaphore" class="btn btn-primary mb-2">
            <i class="fas fa-traffic-light"></i>&nbsp;|&nbsp;&nbsp;Semaphore
        </button>
        <hr />
        <button onclick='AddNewElement()' id="btn-Semaphore" class="btn btn-primary mb-2">
            <i class="fas fa-plus"></i>&nbsp;|&nbsp;&nbsp;Add new
        </button>
        <hr />
        <button @onclick="() => ShowBulkDataDialog = true" class="btn btn-primary  mb-2">
            <i class="fas fa-database"></i>&nbsp;|&nbsp;&nbsp;Bulk Data Update
        </button>
        <button @onclick="() => ShowCrimeDataDialog = true" class="btn btn-danger">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;|&nbsp;
            Update Crime Data
        </button>
    </div>
</div>

<!-- CSV file uploading -->
<GenericModal Title="Crime data uploading" AcceptText="Upload"
              Show="ShowCrimeDataDialog" OnClose="HandleCrimeDataClosing">
    <InputFile OnChange="@OnFileSelected" />
</GenericModal>
<GenericModal Title="Crime data uploading" AcceptText="Uplaod"
              Show="ShowBulkDataDialog" OnClose="HandleBulkDataClosing">
    <InputFile OnChange="@OnFileSelected" />
</GenericModal>
